GOOGLE_WEB_CLIENT_ID=your_web_client_id
GOOGLE_IOS_CLIENT_ID=your_ios_client_id
GOOGLE_ANDROID_CLIENT_ID=your_android_client_id
JWT_SECRET=your_jwt_secret
PORT=5000
MONGO_URI=mongodb://localhost:27017/smarttravel
NODE_ENV=development
